 
<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Lista de produtos</h2>
                  
                </div>
            </div>
            <div>  
               {loop="$product"}
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="{$value.desphoto}" alt="">
                                    <div class="product-hover">
                                        <a href="/cart/{$value.idproduct}/add" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Comprar</a>
                                        <a href="/product/{$value.desurl}" class="view-details-link"><i class="fa fa-link"></i> Ver Detalhes</a>
                                    </div>
                                </div>
                                
                                <h2><a href="/product/{$value.desurl}">{$value.desproduct}</a></h2>
                                
                                <div class="product-carousel-price">
                                    <ins>R${function="formatPrice($value.vlprice)"}</ins>
                                </div> 
                            </div>
                            {/loop}
            </div>
        </div>
    </div>
</div>
<div class="row">
            <div class="col-md-12">
                <div class="product-pagination text-center">
                    <nav>
                        <ul class="pagination">
                        {loop="$pages"}
                        <li><a href="{$value.link}">{$value.page}</a></li>
                        {/loop}
                        </ul>
                    </nav>                        
                </div>
            </div>
        </div>
    </div>
</div>
