<!DOCTYPE html>
 <html>
 <head>
     <title></title>
 </head>
 <body>
 
 </body>
 <style type="text/css">
    .quadro{
       margin-left: 250px;
       margin-right: 250px;
       margin-top: 50px;
       margin-bottom: 50px;
       border: 10px solid  #DCDCDC      ;
       background-color: #DCDCDC;
    }
     .sobre{
        font-size:2rem;
        text-align: justify;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;

     }  
 </style>
 </html> 
<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Quem somos?</h2>
                  
                </div>
            </div>
        </div>
    </div>
</div>
<div class="quadro">   <p class="sobre">World of Seeds é um ecommerce criado com a função de facilitar a vida dos pequenos e médios produtores da região. Criado no ano de 2020, o site permite fazer suas compras facilmente, de qualquer lugar com grande facilidade. O serviço de entrega é realizado pela empresa Correios, também sendo possível que o comprador faça a busca de sua compra no estoque da empresa. <br><br> 
Algumas perguntas frequentes:<br> <br> 
    Como criar uma conta?<br>  
        Para criar uma conta você deve ir em Minha Conta e preencher o que está sendo pedido.<br> <br> 
    Como pagar com o boleto? <br> 
        Para pagar sua compra com boleto você deve clicar na opção de pagar com PagSeguro.<br> <br> 
    É possível comprar vários produtos de uma vez?<br>
        Sim, para fazer a compra de vários produtos ao mesmo tempo você deve ir adicionando todos no carrinho.<br> <br>
    Como é calculado o frete para meu pedido?<br>  
        O valor do frete é calculado pela transportadora, todo preço, prazo e etc são definidos pela empresa responsável pela entrega.<br><br> 
    Quais são os meios de pagamentos disponíveis?  <br> 
        Os pagamentos disponíveis são: boleto e cartão, deve ser realizado por uma das opções disponíveis: PagSeguro e PayPal.<br><br>  
    Como trocar um produto do Ecommerce?  <br> 
Para trocar um produto adquirido no site, entre em contato com o SAC WS Brasil pelo telefone (15) 0000-0000 ou pelos outros meios de contato disponibilizados.<br> <br>     
E se o produto que eu tiver que trocar não tiver mais no estoque?  <br> 
Providenciaremos o cancelamento da Compra e o estorno do pagamento, nos termos de nossa Política de Trocas e Devoluções.  

</p>
    
</div>

